<!-- src/chat-hub/components/message-item/message-item.html -->
<link rel="stylesheet" href="./message-item.css">
<div class="message-item">
    <img class="message-avatar" src="" alt="User Avatar">
    <div class="message-content">
        <div class="message-header">
            <span class="message-author"></span>
            <span class="message-timestamp"></span>
        </div>
        <p class="message-text"></p>
        <div class="message-attachments">
            <!-- Attachment items will be rendered here -->
        </div>
        <div class="message-reactions">
            <!-- Reaction pills will be rendered here -->
        </div>
    </div>
</div>
